# Run `make up-reqs` to update pinned dependencies in requirement text files

acme
anyio==4.5.0
alembic-autogenerate-enums
arrow
asyncpool
azure-identity >= 1.16.1 # (VUNL-7150)
azure-keyvault
azure-mgmt-cdn
azure-mgmt-network
azure-mgmt-subscription
boto3
botocore
celery[redis]
cert_manager
https://binaries.ddbuild.io/dd-source/python/cert_orchestration_adapter-0.0.3-py3-none-any.whl
certbot
certifi
certsrv[ntlm]
CloudFlare
cryptography
dnspython3
dyn
Flask-Bcrypt
Flask-Cors
Flask-Limiter
Flask-Mail
Flask-Migrate <= 2.7.0
Flask-Principal
Flask-RESTful
flask-Script==2.0.5
Flask-SQLAlchemy
Flask<3  # until https://github.com/pytest-dev/pytest-flask/pull/168 is released
flask_replicated
future
google-cloud-compute
google-cloud-private-ca
gunicorn
hvac # required for the vault destination plugin
inflection
itsdangerous
jinja2
lockfile
logmatic-python
marshmallow-sqlalchemy == 0.23.1 #related to the marshmallow issue (to avoid conflicts)
marshmallow<2.21.1 #schema duplicate issues https://github.com/marshmallow-code/marshmallow-sqlalchemy/issues/121
ndg-httpsclient
paramiko  # required for the SFTP destination plugin
pem
protobuf
psycopg2
pyjks
pyjwt
pyOpenSSL
python_ldap
pyyaml
redis
requests
retrying
sentry-sdk
simplejson
six
sqlalchemy < 1.4.0 # ImportError: cannot import name '_ColumnEntity' https://github.com/sqlalchemy/sqlalchemy/issues/6226tabulate
SQLAlchemy-Utils
tabulate
types-protobuf
validators
werkzeug
xmltodict