# Lemur requirements - combines upstream base with Datadog-specific overlay
#
# To sync from upstream Netflix/lemur:
#   curl https://raw.githubusercontent.com/Netflix/lemur/main/requirements.in > requirements-base.in
#   make up-reqs
#
-r requirements-base.in
-r requirements-datadog.in
